@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #111928;
  --secondary-color: #13C296;
  --primary-text-color: #637381;
  --secondary-text-color: #8899A8;
  --background-color: #f2f2f2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--primary-color);
  background: var(--background-color);
}
